<div class="content">
  <div class="content-box">
    <h1>Home</h1>
    <p><b>TAP</b> the Avatar!</p>
    <!-- Container for the interactive character -->
    <div class="character-container" id="character" onclick="animateAvatar()">
      <!-- Image of the character -->
      <img src="https://josegomez-dev.github.io/vainilla-JS-reactive-components/assets/img/avatar.png" alt="Character" class="character">
    </div>
    <button class="primary-button red-type"><a class="color-white" href="./index.html">RELOAD PAGE</a></button>
    <button class="primary-button white-type"><a class="color-black" href="./index.html">?</a></button>

    <!-- <button class="primary-button blue-type">START</button>
    <button class="primary-button green-type">START</button> -->
    <!-- <button class="primary-button yellow-type">START</button>
    <button class="primary-button purple-type">START</button> -->
    <!-- <button class="primary-button black-type">START</button>
    <button class="primary-button white-type">START</button> -->
  </div>
</div>
