/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* App Container */
#app {
  display: flex;
  flex-direction: column;
  display: none;
}

/* App Container */
#main-container {
  margin: 15px;
  margin-bottom: 80px;
}

.animate-site {
  animation: fadeIn 1s ease-in forwards;
}

/* Loading Screen Styles */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's on top of everything */
}

.primary-button {
  font-size: 1rem;
  line-height: 3.5em;
  letter-spacing: 0.3cap;
  padding: 0 1.5em;
  background: var(--primary-color);
  box-shadow: inset 0 -.125rem red;
  color: white;
  font-weight: bolder;
  border-radius: 5em;
  cursor: pointer;
  user-select: none;
  transform-origin: 100% 100%;
  &:focus { outline: 0; }
}

/* Disabled Button Styles */
.primary-button.disabled {
  cursor: not-allowed;
  pointer-events: none; /* Disable all interaction */
}

/* Disabled Button Styles */
.tab-button.disabled {
  cursor: not-allowed;
  pointer-events: none; /* Disable all interaction */
}

.tab-button span {
  font-weight: bold;
}

.red-type {
  background: red;
  box-shadow: inset 0 -.125rem red;
  color: white;
}

.blue-type {
  background: blue;
  box-shadow: inset 0 -.125rem blue;
  color: white;
}

.green-type {
  background: green;
  box-shadow: inset 0 -.125rem green;
  color: white;
}

.yellow-type {
  background: yellow;
  box-shadow: inset 0 -.125rem yellow;
}

.purple-type {
  background: purple;
  box-shadow: inset 0 -.125rem purple;
  color: white;
}

.orange-type {
  background: orange;
  box-shadow: inset 0 -.125rem orange;
}

.black-type {
  background: black;
  box-shadow: inset 0 -.125rem black;
  color: red !important;
}

.white-type {
  background: white;
  box-shadow: inset 0 -.125rem white;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.loader {
  font-size: 24px;
  color: var(--text-color);
  animation: fadeIn 1s ease-in-out infinite alternate;
}

.spinner {
  border: 8px solid var(--border-color); /* Light grey */
  border-top: 8px solid var(--primary-color); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Footer Navigation */
footer {
  background-color: var(--background-light-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer-nav .tab-button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
  font-weight: 400;
}

/* Button Icons */
#footer-nav i {
  font-size: 24px;
  margin-bottom: 5px;
  transition: color 0.3s ease; /* Add transition for color */
}

/* Button Text */
#footer-nav span {
  font-size: 14px;
}

/* Hover & Active States */
#footer-nav button:hover {
  transform: scale(1.2);
  color: var(--primary-color);
}

#footer-nav button:hover i {
  color: var(--primary-color); /* Change icon color on hover */
}

#footer-nav button:active {
  transform: scale(1.1);
  color: var(--primary-color);
}

#footer-nav button:active i {
  color: var(--primary-color); /* Change icon color on active */
}

/* Active Tab Button */
#footer-nav button.active {
  color: var(--primary-color);
}

#footer-nav button.active i {
  color: var(--primary-color); /* Icon color for active state */
}

@keyframes slideIn {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.slide-in {
  animation: slideIn 1.5s ease forwards;
}

.menu-avatar {
  position: absolute; width: 150px; top: 0; left: 60%; right: 0; margin: 0 auto;
}

/* Content Box Styling */
.content-box {
  position: relative;
  width: auto;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  backdrop-filter: blur(10px); /* Background blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
  color: #fff; /* White text color */
  text-align: center;
  padding-bottom: 15px;
}

/* Container styling */
.character-container {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 75px;

  background: linear-gradient(45deg, var(--primary-color), white, var(--primary-color), var(--primary-color)); /* Initial gradient color */
  animation: colorShift 1s ease infinite; /* Color animation */
  box-shadow: 0 0 30px rgba(255, 111, 145, 0.6), 0 0 60px rgba(255, 150, 113, 0.4); /* Glowing shadow effect */
  transition: transform 0.3s ease; /* Smooth scaling effect */
  border: 1px solid black;
}

.character-container:hover {
  transform: scale(1.1); /* Slightly enlarges the circle on hover */
}

/* Keyframes for the color animation */
@keyframes colorShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



/* Character image styling */
.character {
  width: 150px; /* Adjust the size as needed */
  cursor: pointer;
  transition: transform 0.2s ease; /* For a smooth scaling effect */
}

/* Animation on click */
@keyframes moveAnimation {
  0% { transform: translateX(0); }
  25% { transform: translateX(10px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

/* Animation for scaling up on click */
@keyframes scaleUp {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.animate {
  animation: jump 0.6s ease-in-out, rotate 0.6s ease-in-out;
}
